<article id="post">
  <h1><%=page.title%></h1>
  <%-page.content%>
</article>
<div class="post-toc">
  <i class="fas fa-list"></i>
  <%- toc(page.content,{list_number:false,max_depth: 2}) %>
</div>
<div class="post-like">
  <%if(page.prev){%>
  <div class="post-pre">
    <a href="<%-url_for(page.prev.path)%>">
      <i class="fas fa-angle-left"></i>
      <%-page.prev.title%>
    </a>
  </div>
  <%};%>
  <%if(page.next){%>
  <div class="post-next">
    <a href="<%-url_for(page.next.path)%>">
      <%-page.next.title%>
      <i class="fas fa-angle-right"></i>
    </a>
  </div>
  <%};%>

</div>


<div id="paginator">
  <%-paginator()%>
</div>
